body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  padding:10px 20px ;
  border:none;
  background-color: chartreuse;
  font-size: 25px;
  margin:20px;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
.link{
  text-decoration: none;
  color:lightblue;
  font-size: 20px;
  background-color: blue;
  padding:10px 20px;
  margin: 30px 10px;
  font-weight: 500;
  color:#fff;
  cursor: pointer;
}
.link:hover{
  opacity: 0.8;
}
form{
  margin: 0 auto;
  width:400px;
  padding: 20px;
  box-shadow:0 0 10px #ccc;
}
.input{
  height:40px;
  width:100%;
  border:1px solid #ccc;
  margin: 20px 0;
}
.errorMsg{
  color: red;
  margin-bottom: 10px;
}
.outputBox{
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
  width:400px;  
}
.content{
  color: crimson;
}